[data-testid="stApp"] {
    background-image: url("https://media.istockphoto.com/id/1213435241/es/vector/interior-del-almac%C3%A9n-con-cajas-de-cart%C3%B3n-en-racks.jpg?s=612x612&w=0&k=20&c=6baGRN99232v8s2WdxVFrhVYMqib4mpNNZ6pzmmNZk8=");
    background-size: cover;
    background-color:transparent
}